<div class="dice-container">
  <h1 class="dice-container__header">Dice</h1>
  <div class="dice-container__range">
      <p class="dice-container__range--help">Select the range of the dice</p>
      <input class="dice-container__range--rangeInput" name="rangeLow" type="number" [(ngModel)]="calculationsService.rangeLow">
      <div class="dice-container__range--bar">&mdash;</div>
      <input class="dice-container__range--rangeInput" name="rangeHigh" type="number" [(ngModel)]="calculationsService.rangeHigh">
  </div>
  <div class="dice-container__dice">
    <div class="dice-container__dice--number">
      <i class="fas fa-question" *ngIf="diceRoll == null"></i>
      {{diceRoll}}
    </div>
    <div class="dice-container__dice--run-dice" (click)="rollDice()">
      <i class="fas fa-dice button-logo"></i>
      <span class="dice-container__dice--run-dice--text">ROLL</span>
    </div>
  </div>
  <div class="dice-container__dice-history">
    <!-- maybe make it the ul list, which will be appended after dice rolls -->
    <ul *ngIf="diceRollList.length > 0" class="dice-container__dice-history--items"> 
      <li class="dice-container__dice-history--items--item" *ngFor="let item of diceRollList">{{item}}</li>
    </ul>
  </div>
</div>
